<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtang.dao.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.xtang.pojo.Comments">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="father_comment_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="to_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="video_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="from_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.xtang.pojo.Comments">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="father_comment_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="to_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="video_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="from_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="comment" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        father_comment_id,
        to_user_id,
        video_id,
        from_user_id,
        create_time,
        update_time
    </sql>
    <sql id="Blob_Column_List">
        comment
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_comments
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from t_comments
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.xtang.pojo.Comments">
        insert into t_comments (id, father_comment_id, to_user_id,
                                video_id, from_user_id, create_time,
                                update_time, comment)
        values (#{id,jdbcType=VARCHAR}, #{fatherCommentId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR},
                #{videoId,jdbcType=VARCHAR}, #{fromUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.xtang.pojo.Comments">
        insert into t_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fatherCommentId != null">
                father_comment_id,
            </if>
            <if test="toUserId != null">
                to_user_id,
            </if>
            <if test="videoId != null">
                video_id,
            </if>
            <if test="fromUserId != null">
                from_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="fatherCommentId != null">
                #{fatherCommentId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="videoId != null">
                #{videoId,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xtang.pojo.Comments">
        update t_comments
        <set>
            <if test="fatherCommentId != null">
                father_comment_id = #{fatherCommentId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="videoId != null">
                video_id = #{videoId,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                from_user_id = #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xtang.pojo.Comments">
        update t_comments
        set father_comment_id = #{fatherCommentId,jdbcType=VARCHAR},
            to_user_id        = #{toUserId,jdbcType=VARCHAR},
            video_id          = #{videoId,jdbcType=VARCHAR},
            from_user_id      = #{fromUserId,jdbcType=VARCHAR},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            update_time       = #{updateTime,jdbcType=TIMESTAMP},
            comment           = #{comment,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xtang.pojo.Comments">
        update t_comments
        set father_comment_id = #{fatherCommentId,jdbcType=VARCHAR},
            to_user_id        = #{toUserId,jdbcType=VARCHAR},
            video_id          = #{videoId,jdbcType=VARCHAR},
            from_user_id      = #{fromUserId,jdbcType=VARCHAR},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            update_time       = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="queryAllComments" parameterType="string" resultMap="BaseResultMap">
        select *
        from t_comments
        where video_id = #{videoId}
    </select>
</mapper>